@import "./bootstrap5/abstracts/custom_variables";
/*@import "~bootstrap/scss/bootstrap";*/

a {
    text-decoration: none;
}

section {
    padding: 10px 0;
}

.max-line-width {
    color: #444;
    /*box-shadow: 0 0 5px rgba(214, 215, 216, 0.6);*/
    border: 1px solid rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
}

.max-line-width * {
    max-width: 45em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.wrap {
    font-family: Signika, Nunito, sans-serif;
    font-size:1.3rem;
    line-height: 1.7;
}

#hero-no-slider::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../../../images/front/hero-bg.png") center top no-repeat;
}

#hero-no-slider {
    h2 {
        font-size: 4.5rem;
        em {
            font-family: 'Work Sans', sans-serif;
        }
    }
}

#header {
    .navbar {
        ul {
            text-transform: uppercase;
        }

        a {
            padding: 10px 0 10px 20px;
            :focus {
                padding: 10px 0 10px 20px;
            }
        }
    }
}

#footer {
    .footer-top {
        .footer-links {
            ul {
                text-transform: uppercase;
            }
        }
    }
}

.services {
    .title {
        font-size: 1.6rem;

        a {
            font-size: 1.6rem;

            :focus {
                font-size: 1.6rem;
            }
        }
    }
}


/*.tooltip {
    position: relative;
    display: inline-block;
}*/

.col .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.col .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.col:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
